.contact {
    .contact-header {
        font-size: 30px;
        font-weight: 400;
        margin: 10px 0;
        color: $clr4;
    }
    p {
        color: $clr6;
        font-size: 15px;
        line-height: 1.5;
        margin: 15px 0px;
    }
}
