.projects-app {
    .projects-header {
        font-size: 30px;
        font-weight: 400;
        margin: 10px 0;
        color: $clr4;
    }
    img {
        width: 200px;
        height: 200px
    };
}